<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Sort images and videos by date" 
           Manufacturer="IvanDolgov (shmuft)" 
           Version="1.0.0.0" 
           UpgradeCode="974a6217-1db4-46bb-8692-747d7c6d5eb5" 
           Language="1049">
    <SummaryInformation Description="shmuft@yandex.ru" />

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="ShmuftSortMedia">        

        <Component Id="AppFilesComponent" Guid="974a6217-1db4-46bb-8692-747d7c6d5cd5">
          <File Source="sort-media-gui.exe" />
          <File Source="sort-media.exe" />
          <File Source="Qt6Core.dll" />
          <File Source="Qt6Gui.dll" />
          <File Source="Qt6Widgets.dll" />
          <File Source="plugins/platforms/qwindows.dll" />
        </Component>

        <Directory Id="PluginsFolder" Name="plugins">
          <Directory Id="PlatformsFolder" Name="platforms">    
            <Component Id="PlatformPluginsComponent" Guid="5b1aef71-2cb3-48ee-bd91-384dae6d2341">
              <File Source="plugins/platforms/qwindows.dll" />
            </Component>
          </Directory>
        </Directory>

      </Directory>
    </StandardDirectory>    

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
  </Package>
</Wix>